{% extends 'base.html' %}
{% block start %}
        <h1> This is about.html file </h1>
        <br><br><br><br><br><br><br><br><br>
        <a href='/contact/'> Contact </a><br><br><br><br>
        <a href='/'> Home </a>
        <table class="table table-striped">
  <tr>
    <th>Serial no.</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can vote</th>
  </tr>
  {{people}}
{% for i in people %} 
{% comment %} iterate over the people list passed from views.py {% endcomment %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.age }}</td>
        <td> 
        {% if i.age >= 18 %} 
        👍 
        {% else %}
        👎
        {% endif %} 
        </td>
        {% comment %} display name and age attribute of each person and print the django variable using only dounle curly braces {% endcomment %}
        {% comment %} {{}} {% endcomment %}
    </tr> 
  {% endfor %}
</table>
    <p>
    {{text|truncatewords:60}}
    {% comment %} for chars: truncatechars {% endcomment %}
    </p>

    {%if 'Tomato' in vegetables%}
        <h3> Tomato is present in the vegetable list </h3>
    {%else%}
        <h3> Tomato is not present in the vegetable list </h3>
    {%endif%}
<h3>Using Django firstof:</h3>
<p>
    {% firstof var1 var2 var3 %}
</p>
{% endblock %}