{% extends 'base.html' %}
{% block start%}
    <body>
    <h1> This is index.html file </h1>

    <a href='/about/'> About </a> <br><br><br><br><br>
    <a href='/contact/'> Contact </a> 

       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        
{%endblock%}
{% comment %} in the object oriented programming, there is a concept DRY(don't repeat, I can see multiple times selected code retendent that don't OOPS, {% endcomment %}